/*
 ██████╗ ███████╗███╗   ██╗███████╗██████╗  █████╗ ██╗     
██╔════╝ ██╔════╝████╗  ██║██╔════╝██╔══██╗██╔══██╗██║     
██║  ███╗█████╗  ██╔██╗ ██║█████╗  ██████╔╝███████║██║     
██║   ██║██╔══╝  ██║╚██╗██║██╔══╝  ██╔══██╗██╔══██║██║     
╚██████╔╝███████╗██║ ╚████║███████╗██║  ██║██║  ██║███████╗
 ╚═════╝ ╚══════╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝                                                      
*/


/*
╔═╗╔═╗╔╗╔╔╦╗   ┬   ╦╔═╔═╗╦ ╦╔═╗╦═╗╔═╗╔╦╗╔═╗╔═╗
╠╣ ║ ║║║║ ║   ┌┼─  ╠╩╗║╣ ╚╦╝╠╣ ╠╦╝╠═╣║║║║╣ ╚═╗
╚  ╚═╝╝╚╝ ╩   └┘   ╩ ╩╚═╝ ╩ ╚  ╩╚═╩ ╩╩ ╩╚═╝╚═╝
*/


@font-face {
  font-family: 'Klaxons Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Klaxons regular'), url('/src/Klaxons.woff') format('woff');
}

@keyframes neon {
  0%{
      text-shadow:
      0 0 1px #fff,
      0 0 2px #fff,
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 25px #fff;
  }
 50%{
      text-shadow:
      0 0 1.5px #fff,
      0 0 3px #fff,
      0 0 12px #fff,
      0 0 25px #fff,
      0 0 35px #fff;
  }
}


/*
╔═╗╔═╗╔═╗
╠═╣╠═╝╠═╝
╩ ╩╩  ╩  
*/


.App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  font-family: 'lato', sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1,5em;
}

p {
  font-size: 1em;
}

::placeholder {
  font-size: 1em;
  color: rgba(255, 255, 255, .7);
}

.error-message {
  font-size: .5em;
}


/*
╔╗ ╦ ╦╔╦╗╔╦╗╔═╗╔╗╔  ╔═╗╔═╗╔═╗╔═╗╔═╗
╠╩╗║ ║ ║  ║ ║ ║║║║  ╚═╗╠═╝╠═╣║  ║╣ 
╚═╝╚═╝ ╩  ╩ ╚═╝╝╚╝  ╚═╝╩  ╩ ╩╚═╝╚═╝
*/


.logs {
  margin-top: 7.5vh;
  margin-bottom: 2.5vh;
  height: 10vh;
  display: flex;
  justify-content: space-around;
}


/*
╔╗ ╦ ╦╔╦╗╔╦╗╔═╗╔╗╔
╠╩╗║ ║ ║  ║ ║ ║║║║
╚═╝╚═╝ ╩  ╩ ╚═╝╝╚╝
*/


button {
  font-family: 'Klaxons Regular';
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  width: 10em;
  height: 5vh;
  border-radius: 20px;
  box-shadow: inset
  0 0 .5px #fff,
  0 0 1px #fff,
  0 0 2px #fff,
  0 0 5px #fff,
  0 0 10px #fff;
  cursor: pointer;
}

.buttonsWhite {
  background: rgba(255, 255, 255, .25);
}

.buttonsBlack {
  background: rgba(0, 0, 0, .7);
}



/*
╦╔╗╔╔═╗╦ ╦╔╦╗
║║║║╠═╝║ ║ ║ 
╩╝╚╝╩  ╚═╝ ╩ 
*/


label {
  font-weight: bold;
  padding-top: 3vh;
  padding-bottom: 1vh;
}

input {
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  background: rgba(255, 255, 255, .25);
  width: 80%;
  max-width: 50em;
  height: 5vh;
  box-shadow: inset
  0 0 .5px #fff,
  0 0 1px #fff,
  0 0 2px #fff,
  0 0 5px #fff,
  0 0 10px #fff;
}


/*
╔═╗╔╦╗╔═╗╦═╗╔╦╗  ╔═╗╔═╗╔═╗╔═╗╔═╗
╚═╗ ║ ╠═╣╠╦╝ ║   ╠═╝╠═╣║ ╦║╣ ╚═╗
╚═╝ ╩ ╩ ╩╩╚═ ╩   ╩  ╩ ╩╚═╝╚═╝╚═╝
*/


.startPages {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.startBlock {
  margin-top: 22.5vh;
  margin-inline: 10%;
  height: 55vh;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 3vh;
  border-radius: 5px;
  box-shadow: inset
  0 0 .5px #fff,
  0 0 1px #fff,
  0 0 2px #fff,
  0 0 5px #fff,
  0 0 10px #fff
}


/*
╔═╗╔═╗╦═╗╔╦╗
╠╣ ║ ║╠╦╝║║║
╚  ╚═╝╩╚═╩ ╩
*/


form {
  width: 100%;
  height: 100%;
}


/*
██╗      ██████╗  ██████╗  ██████╗ 
██║     ██╔═══██╗██╔════╝ ██╔═══██╗
██║     ██║   ██║██║  ███╗██║   ██║
██║     ██║   ██║██║   ██║██║   ██║
███████╗╚██████╔╝╚██████╔╝╚██████╔╝
╚══════╝ ╚═════╝  ╚═════╝  ╚═════╝                                 
*/


.logo {
  width: 100%;
  height: 15vh;
  position: absolute;
}

h1 {
  font-family: 'Klaxons Regular';
  color: #fff;
  font-size: 15vh;
  text-align: center;
  margin: 0;
  padding: 0;

  text-shadow:
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 25px #fff;
  animation: neon 1.5s infinite linear;
}



/*
██╗      ██████╗  █████╗ ██████╗ ██╗███╗   ██╗ ██████╗ 
██║     ██╔═══██╗██╔══██╗██╔══██╗██║████╗  ██║██╔════╝ 
██║     ██║   ██║███████║██║  ██║██║██╔██╗ ██║██║  ███╗
██║     ██║   ██║██╔══██║██║  ██║██║██║╚██╗██║██║   ██║
███████╗╚██████╔╝██║  ██║██████╔╝██║██║ ╚████║╚██████╔╝
╚══════╝ ╚═════╝ ╚═╝  ╚═╝╚═════╝ ╚═╝╚═╝  ╚═══╝ ╚═════╝                                                    
*/


.loading {
  background-image: url(https://res.cloudinary.com/dhv1kqoqk/image/upload/v1663863008/vibes-main/homepageImg_wpcajh.jpg);
}

/*
╔═╗╦═╗╔═╗╔╦╗╦╔═╗╔═╗  ╔═╗╔═╗╔╦╗╔═╗╔═╗╔╗╔╔═╗╔╗╔╔╦╗
╠═╝╠╦╝║ ║║║║║╚═╗║╣   ║  ║ ║║║║╠═╝║ ║║║║║╣ ║║║ ║ 
╩  ╩╚═╚═╝╩ ╩╩╚═╝╚═╝  ╚═╝╚═╝╩ ╩╩  ╚═╝╝╚╝╚═╝╝╚╝ ╩ 
*/

.loadingAddValue {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-inline: 30%;
}

.loadingPic {
  width: 70%;
  max-width: 35px;
  padding-right: 5%;
}



/*
██╗      ██████╗  ██████╗ ██╗███╗   ██╗
██║     ██╔═══██╗██╔════╝ ██║████╗  ██║
██║     ██║   ██║██║  ███╗██║██╔██╗ ██║
██║     ██║   ██║██║   ██║██║██║╚██╗██║
███████╗╚██████╔╝╚██████╔╝██║██║ ╚████║
╚══════╝ ╚═════╝  ╚═════╝ ╚═╝╚═╝  ╚═══╝                                  
*/


.login {
  background-image: url(https://res.cloudinary.com/dhv1kqoqk/image/upload/v1665327816/vibes-main/loginBack_dvcjgg.jpg);
}



/*
███████╗██╗ ██████╗ ███╗   ██╗██╗   ██╗██████╗ 
██╔════╝██║██╔════╝ ████╗  ██║██║   ██║██╔══██╗
███████╗██║██║  ███╗██╔██╗ ██║██║   ██║██████╔╝
╚════██║██║██║   ██║██║╚██╗██║██║   ██║██╔═══╝ 
███████║██║╚██████╔╝██║ ╚████║╚██████╔╝██║     
╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝ ╚═════╝ ╚═╝                                                 
*/


.signup {
  background-image: url(https://res.cloudinary.com/dhv1kqoqk/image/upload/v1664011688/vibes-main/signupFriends_bn1cog.jpg);
}